* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 13px;
    line-height: 18px;
    color: #515076;
    font-weight: 400;
    font-family: 'Montserrat', sans-serif;
    align-items: center;  
}
.cards-list-container {
    display:flex;
    flex-wrap: wrap;
    gap: 45px;
    margin-top: 110px;
    justify-content: center;
    margin-bottom: 116px;   
}
.main-title {
    font-weight: 400;
    font-size: 70px;
    line-height: 78px;
    text-align: center;
    color: #515076;
    margin-top: 220px;
    margin-bottom: 110px;
}
.background-image {
    background-image: url("images/background-flowers.jpg");
    width: 790px;
    height: 697px;
    z-index: -1;
    position: absolute;
    top: 0px;
    left: 160px;    
}
.card-container {
    width: 340px;
    height: 573px;
    padding: 25px ;
    background-color: #F7F7FA;
    box-shadow: 2px 2px 10px 0px #5150761A;
    margin-top: 50px;
    justify-content: center;
}  
.product-category {
    font-size: 12px;
    line-height: 24px;
    text-transform: uppercase;
    color: #a5a3b9 ;
    margin-top: 30px;
    margin-bottom: 5px;
    display: block;
}
.product-name {
    font-weight: 700;
    font-size: 20px;
    line-height: 27px;
    margin-bottom: 5px;
}
.product-description {
    margin-bottom: 15px;
}
.product-compound {
    margin-top: 5px;
}
.product-compound-item {
  list-style: none; 
  position: relative;
  padding-left: 15px;
  display: flex;
    align-items: center;
}
.product-compound-item::before {
  content: "";
  position: absolute;
  left: 0;
  width: 7px;
  height: 7px;
  border: 1.0px solid #333; 
  border-radius: 100%;       
  background: transparent;
  align-items: center;
}
.product-price-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 25px; 
}
.product-price-label {
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;   
}
.product-price-number {
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
}
.cards-list-container {
    list-style: none;
    padding: 0;
    margin: 0;
}
.product-compound {
    list-style: none;
    padding: 0;
    margin: 0;
}